<?xml version="1.0"?>
<!--
/**
 * Minicart IncrementDecrement Module registration.
 * @category  Minicart KnockOut.js
 * @package   Minicart_IncrementDecrement
 * @author    vashishtha
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Minicart_IncrementDecrement" setup_version="0.0.1">
    </module>
</config>
