<?xml version="1.0"?>
<!--
/**
 * Knockout.js Products Module registration.
 * @category  Knockout.js Products
 * @package   Ko_Prod
 * @author    vashishtha
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Ko_Prod" setup_version="0.0.1">
    </module>
</config>
